@model Blog_withPostgresql.ModelView.UserViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Добавление пользователя";
}

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<div id="mainDivReg" style="display: flex; justify-content: center; align-items: center; height: 80vh;">
    <div id="divReg">
        <div id="h1Div">
            <h1>Регистрация</h1>
        </div>
        <div id="registerFormDiv">
            <form method="post" asp-controller="User" asp-action="AuthUser">

                @* <label asp-for="Email"></label> *@
                <span asp-validation-for="Email" class="text-danger"></span>
                <input type="email" asp-for="Email" />

                @* <label asp-for="Password"></label> *@
                <span asp-validation-for="Password" class="text-danger"></span>
                <input type="password" asp-for="Password" />

                <hr />

                <button type="submit">Зарегестрироваться</button>

            </form>
        </div>
    </div>
</div>