@model Blog.BLL.ViewModel.UserBlogViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    #H1 {
        display: block;
        text-align: center;
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
        color: rgba(57,227,237,1);
        top: 50%;
        position: relative;
    }

    .H1Class {
        background-color: rgba(0,0,0,0.7);
        text-align: center;
        margin: 0;
        height: 70vh;
        position: relative;
    }
</style>
<script>
    function getRandomArbitrary(min, max) {
        return Math.random() * (max - min) + min;
    }


    window.onload = function PrintTextH1() {
        var te = document.getElementById('H1').innerHTML;
        var myChar = Array.from(te);
        document.getElementById('H1').innerHTML = "";
        var index = 0;
        var interval = setInterval(function () {
            if (index < myChar.length) {
                document.getElementById('H1').innerHTML += myChar[index];
                console.log(myChar[index]);
                index++;
            } else {
                clearInterval(interval);
            }
        }, getRandomArbitrary(20, 100));
    }
</script>

<div class="H1Class">
    <h1 id="H1" onload="PrintTextH1();">Добро пожаловать, @Model.UserName!</h1>
</div>